
<main class="site-content" role="main">

        <!--
        Home Slider
        ==================================== -->

	<section id="home-slider">
  	<div id="slider" class="sl-slider-wrapper">
			<div class="sl-slider">
				<div class="sl-slide" data-orientation="horizontal"
					data-slice1-rotation="-25" data-slice2-rotation="-25"
					data-slice1-scale="2" data-slice2-scale="2">
						<div class="bg-img bg-img-1"></div>

						<div class="slide-caption">
              <div class="caption-content">
                <h2 class="animated fadeInDown">Rodrigo Delgado</h2>
                <span class="animated fadeInDown">Web Developer</span>
                <a href="#contact" class="btn btn-blue btn-effect">Contact Me</a>
              </div>
            </div>
					</div>

					<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10"
						data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">

						<div class="bg-img bg-img-2"></div>
						<div class="slide-caption">
              <div class="caption-content">
	              <h2>Front End</h2>
	              <span>React &amp; Angular</span>
	              <a href="#contact" class="btn btn-blue btn-effect">Contact Me</a>
          		</div>
      			</div>
					</div>

					<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3"
						data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">

					<div class="bg-img bg-img-3"></div>
						<div class="slide-caption">
              <div class="caption-content">
                  <h2>Back End</h2>
                  <span>Node JS</span>
                  <a href="#contact" class="btn btn-blue btn-effect">Contact Me</a>
              </div>
          </div>

					</div>
				</div><!-- /sl-slider -->
        	<nav id="nav-arrows" class="nav-arrows hidden-xs hidden-sm visible-md visible-lg">
            <a href="javascript:;" class="sl-prev">
              <i class="fa fa-angle-left fa-3x"></i>
            </a>
            <a href="javascript:;" class="sl-next">
              <i class="fa fa-angle-right fa-3x"></i>
            </a>
          </nav>

					<nav id="nav-dots" class="nav-dots visible-xs visible-sm hidden-md hidden-lg">
						<span class="nav-dot-current"></span>
						<span></span>
						<span></span>
					</nav>

		</div><!-- /slider-wrapper -->
	</section>

        <!--
        End Home SliderEnd
        ==================================== -->

			<!-- about section -->
	<section id="about" >
		<div class="container">
			<div class="row">
				<div class="col-md-4 wow animated fadeInLeft">
					<div class="recent-works"><br />
						<h3>Experience</h3>
						<div id="works">
							<div class="work-item">

								<p>
									I am a Web Developer who has recently transitioned from
									a background in hospitality management. <br><br>
									I graduated as a Web Developer from EDA Enspiral
									Dev-Academy where I learnt technologies such as HTML5, CSS3, SQL,
									JavaScript, React.js, Node.js, Git and GitHub.
								</p><br>

								<p>
									<a href="img/portfolio/RD-WD-CV-2017.pdf"
										target="_blank">Download My CV</a>
								</p><br>
								<p>
									<a href="img/portfolio/graduation-certificate.pdf"
										target="_blank">Download My Graduation Certificate</a>
								</p>
							</div>

							<div class="work-item">
								<p>
									People who I have worked with will describe me as a team player
									who is absolutely reliable and fun to work with.
									They would also say that I work hard and learn fast.<br><br>
									I thrive working under pressure, specially with other people
									and being creative by coming up with new ideas and approaches.
									Able to speak Spanish (mother tongue) and English.
								</p>
							</div>

							<div class="work-item">
                <p>
									For the final project, my group and I created a learning
									Te Reo app, "Korero Mai". This app is intended to be used as a
									tool to help children ages 5 to 6 get familiar with Te Reo.
									It focuses on learning pronunciation and simple words through
									two main types of activities
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-7 col-md-offset-1 wow animated fadeInRight">
					<div class="welcome-block"><br />
						<h3>About Me</h3>
				     	<div class="message-body">
								<img src="img/member-1.jpg" class="pull-left" alt="member">
				       	<p>
									I am currently looking for an entry-level web developer
									position and for an environment in which I can learn,
									develop and explore different technologies.<br><br>
								</p>

                <p>
									During my spare time I try to keep fit, playing music and explore my passion for
									new technologies. I also love cooking for friends and family. I have a keen interest
									in photography and I have had visited, with my camera, several countries within
									Europe, South East Asia and Latin America.
								</p>

				     	 </div>
				       	<a href="https://nz.linkedin.com/in/rodrigo-delgado-5bbb3655"
								class="btn btn-border btn-effect pull-right" target="_blank" >Read More</a><br />
				    </div>
				</div>
			</div>
		</div>
	</section>
		<!-- end about section -->

			<!-- Skills section -->
			<section id="service">
				<div class="container">
					<div class="row">

						<div class="sec-title text-center"><br />
							<h2 class="wow animated bounceInRight">Skills</h2>
							<p class="wow animated bounceInLeft">Development</p>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn">
							<div class="service-item">
								<div class="service-icon">
									<i class="fa fa-html5 fa-3x"></i>
								</div>
								<h3>HTML5 &amp; CSS3</h3>
								<p>Markup &amp; Style </p>
							</div>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
							<div class="service-item">
								<div class="service-icon">
									<i class="fa fa-mobile fa-4x"></i>
								</div>
								<h3>Responsive</h3>
								<p>Looks great on any device</p>
							</div>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s">
							<div class="service-item">
								<div class="service-icon">
									<i class="fa fa-heart fa-3x"></i>
								</div>
								<h3>JavaScript</h3>
								<p>React &amp; Angular 2</p>
							</div>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.9s">
							<div class="service-item">
								<div class="service-icon">
									<i class="fa fa-github fa-3x"></i>
								</div>

								<h3>Git and Github</h3>
								<p>Version Control System</p>
							</div>
						</div>

					</div>
				</div>
			</section>
			<!-- end Service section -->

			<!-- Portfolio -->
			<section id="portfolio">
				<div class="container">
					<div class="row">

						<div class="sec-title text-center wow animated fadeInDown"><br />
							<h2>Portfolio</h2>
							<p>Some of my Work.</p>
						</div>


						<ul class="project-wrapper wow animated fadeInUp">
							<li class="portfolio-item">

								<!-- Korero Mai App -->
								<img src="img/portfolio/koreromai-home.jpg" class="img-responsive"
									alt="For the final project, my group and I created a learning
									Te Reo app, Korero Mai. This app is intended to be used as a
									tool to help children ages 5 to 6 get familiar with Te Reo. It
									focuses on learning pronunciation and simple words through two
									main types of activities. If you want to have a look at the App
									click here <a href='https://korero-mai.herokuapp.com' target='_blank'>
									Korero Mai App</a>, to see the code
									and documentation click here
									<a href='https://github.com/Korero-Mai/koreroMai-app' target='_blank'>Korero Mai Code</a>">

								<figcaption class="mask">
									<h3>Korero Mai</h3>
									<p>Learn Te Reo!</p>
								</figcaption>

								<ul class="external">
									<li><a class="fancybox" title="Korero Mai - Learn Te Reo"
										data-fancybox-group="works" href="img/portfolio/koreromai-home.jpg">
										<i class="fa fa-plus"></i></a></li>
									<!-- <li><a href=""><i class="fa fa-link"></i></a></li> -->
								</ul>
							</li>
							<!-- End of Korero Mai App -->

							<!-- React Todo App -->

							<li class="portfolio-item">

								<img src="img/portfolio/todo-react.jpg" class="img-responsive"
									alt="I followed this tutorial on Udemy.com to create this To
									Do App using React and Redux. If you want to have a look at the App
									click here <a href='http://react-todo-rodrigo.herokuapp.com/' target='_blank'>
									React To Do App</a>, to see the code and documentation click here
									<a href='https://github.com/rodrigo-delgado/react-todo' target='_blank'>React To Do App</a>">

								<figcaption class="mask">
									<h3>React To Do App</h3>
									<p>Udemy Tutorial</p>
								</figcaption>

								<ul class="external">
									<li>
										<a class="fancybox" title="Just Do It! - Udemy Tutorial"
										href="img/portfolio/todo-react.jpg" data-fancybox-group="works" >
										<i class="fa fa-plus"></i></a>
									</li>
									<!-- <li><a href=""><i class="fa fa-link"></i></a></li> -->
								</ul>
							</li>
							<!--End of React Todo App  -->

							<!-- React Timer App -->

							<li class="portfolio-item">
								<img src="img/portfolio/react-timer.jpg" class="img-responsive"
									alt="I followed this tutorial on Udemy.com to create this Timer
								 	App using React. If you want to have a look at the App
									click here <a href='http://react-timer-rodrigo.herokuapp.com/' target='_blank'>
									React Timer App</a>, to see the code and documentation click here
									<a href='https://github.com/rodrigo-delgado/React-Timer' target='_blank'>React Timer App</a>">

								<figcaption class="mask">
									<h3>React Timer App</h3>
									<p>Udemy Tutorial</p>
								</figcaption>

								<ul class="external">
									<li>
										<a class="fancybox" title="React Timer App - Udemy Tutorial"
										 data-fancybox-group="works" href="img/portfolio/react-timer.jpg">
										 <i class="fa fa-plus"></i></a>
									</li>
									<!-- <li><a href=""><i class="fa fa-link"></i></a></li> -->
								</ul>
							</li>
							<!-- End of React Timer -->

							<!-- React Weather App -->

							<li class="portfolio-item">

								<img src="img/portfolio/react-weather.jpg" class="img-responsive"
									alt="I followed this tutorial on Udemy.com to create this Weather
								 	App using React. If you want to have a look at the App
									click here <a href='http://rodrigo-weather-app.herokuapp.com/' target='_blank'>
									React Weather App</a>, to see the code and documentation click here
									<a href='https://github.com/rodrigo-delgado/ReactWeather' target='_blank'>React Weather App</a>.">

								<figcaption class="mask">
									<h3>React Weather App</h3>
									<p>Udemy Tutorial</p>
								</figcaption>
								<ul class="external">
									<li>
										<a class="fancybox" title="React Weather App"
											data-fancybox-group="works" href="img/portfolio/react-weather.jpg">
										<i class="fa fa-search"></i></a>
									</li>
									<!-- <li><a href=""><i class="fa fa-link"></i></a></li> -->
								</ul>
							</li>

							<li class="portfolio-item">

								<img src="img/portfolio/HTML5-CSS3.jpg" class="img-responsive"
								 	alt="This is a HTML5 &amp; CSS3 Test that I have done for
									Talent International Recruitment. If you want to have a deeper
									look please click here <a href='img/portfolio/HTML5-CSS-test.pdf'
									target='_blank'> HTML5 &amp; CSS3 PDF </a>">

								<figcaption class="mask">
									<h3>HTML5 &amp; CSS3 Test </h3>
									<p>Test for Interational Talent Recruitment</p>
								</figcaption>

								<ul class="external">
									<li>
										<a class="fancybox" title="HTML5 &amp; CSS3 Test"
										data-fancybox-group="works" href="img/portfolio/HTML5-CSS3.jpg">
										<i class="fa fa-plus"></i></a>
									</li>
									<!-- <li><a href=""><i class="fa fa-link"></i></a></li> -->
								</ul>
							</li>

							<li class="portfolio-item">
								<img src="img/portfolio/Javascript.jpg" class="img-responsive"
								alt="This is a Javacript Test that I have done for
								Talent International Recruitment. If you want to have a deeper
								look please click here <a href='img/portfolio/Javascript-test.pdf'
								target='_blank'> Javascript PDF </a>">

								<figcaption class="mask">
									<h3>Javascript Test</h3>
									<p>Test for Interational Talent Recruitment</p>
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="Javascript Test"
										data-fancybox-group="works" href="img/portfolio/Javascript.jpg">
										<i class="fa fa-search"></i></a></li>
									<!-- <li><a href=""><i class="fa fa-link"></i></a></li> -->
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</section>
			<!-- end portfolio section -->

			<!-- Testimonial section -->
			<section id="testimonials" class="parallax">
				<div class="overlay">
					<div class="container">
						<div class="row">

							<div class="sec-title text-center white wow animated fadeInDown">
								<h2>What people say about me</h2>
							</div>

							<div id="testimonial" class=" wow animated fadeInUp">
								<div class="testimonial-item text-center">
									<img src="img/LisaBrand.jpg" alt="References">
									<div class="clearfix">

										<span>Lisa Brand - Head Of Hall - Katharine Jermyn Hall</span>

										<p>
											I have known Rodrigo Delgado since we worked together at
										 	Nomads Capital/Blend bar in 2013.
										</p>
                    <p>
											He left to travel the world and since returning back to
											New Zealand. I have again worked with Rodrigo at Katharine
											Jermyn Hall.
										</p>

                    <p><i class="fa fa-phone"></i> +64 04 463 9080</p>
                    <p><i class="fa fa-envelope"></i> Lisa.Brand@vuw.ac.nz</p>
									</div>
								</div>
								<div class="testimonial-item text-center">
									<img src="img/rohan.jpg" alt="References">
									<div class="clearfix">
										<span>Rohan Wakefield - Managing Director - Enspiral Dev Academy</span>
										<p>
											We found Rod to be a collaborative member of their cohort.
											They achieved a high standard and we wish them all the best
											in the next steps in their career. For any further information
											on Rod please contact Enspiral Dev Academy.
										</p>
                    <p><i class="fa fa-phone"></i> 022 368 6338</p>
                    <p><i class="fa fa-envelope"></i>rohan@devacademy.co.nz</p>
									</div>
								</div>
								<div class="testimonial-item text-center">
									<img src="img/CassieBlount.jpg" alt="References">
									<div class="clearfix">
										<span>Cassie Blount - General Manager - The Black Swan</span>

										<p>A few years ago I had the pleasure of viewing Rodrigo
											professional development, and I can state with confidence
											that he is a motivated and responsible person with a high
											degree of integrity. I expect that he will be a very positive
											addition to your company.</p>
                    <!-- <p><p><i class="fa fa-phone"></i></p> -->
                    <p><i class="fa fa-envelope"></i>
											 Cassie_Blount@hotmail.co.uk</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- end Testimonial section -->

			<!-- Social section -->
			<section id="social" class="parallax">
				<div class="overlay">
					<div class="container">
						<div class="row">

							<div class="sec-title text-center white wow animated fadeInDown">
								<h2>Follow Me</h2>
								<p></p>
							</div>

							<ul class="social-button">
								<li class="wow animated zoomIn"><a href="https://nz.linkedin.com/in/rodrigo-delgado-5bbb3655" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="https://twitter.com/RoddDelgado" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.6s"><a href="https://github.com/rodrigo-delgado" target="_blank"><i class="fa fa-github  fa-2x"></i></a></li>

							</ul>

						</div>
					</div>
				</div>
			</section>
			<!-- end Social section -->

			<!-- Contact section -->
			<section id="contact" >
				<div class="container">
					<div class="row">

						<div class="sec-title text-center wow animated fadeInDown">
							<!-- <h2>Contact</h2>
							<p>Leave a Message</p> -->
						</div>


						<div class="col-md-1 contact-form wow animated fadeInLeft">
							<!-- <form action="#" method="post">
								<div class="input-field">
									<input type="text" name="name" class="form-control" placeholder="Your Name...">
								</div>
								<div class="input-field">
									<input type="email" name="email" class="form-control" placeholder="Your Email...">
								</div>
								<div class="input-field">
									<input type="text" name="subject" class="form-control" placeholder="Subject...">
								</div>
								<div class="input-field">
									<textarea name="message" class="form-control" placeholder="Messages..."></textarea>
								</div>
						       	<button type="submit" id="submit" class="btn btn-blue btn-effect">Send</button>
							</form> -->
						</div>

						<div class="col-md-5 wow animated fadeInRight">
							<address class="contact-details">
								<h3>Contact Me</h3>
								<p><i class="fa fa-pencil"></i> Rodrigo Delgado<span></span> <span>Fallowfield Avenue, Wellington. </span><span>New Zealand</span></p><br>
								<p><i class="fa fa-phone"></i><a href="tel:+64274205866">027 420 5866 </a></p>
								<p><i class="fa fa-envelope"></i><a href="mailto:Rod.delgado85@gmail.com">Rod.delgado85@gmail.com</a></p>
							</address>
						</div>

					</div>
				</div>
			</section>
			<!-- end Contact section -->

			<section id="google-map"><br />
				<div id="map-canvas" class="wow animated fadeInUp"></div>
			</section>

		</main>
