
<main class="site-content" role="main">

        <!--
        Home Slider
        ==================================== -->

	<section id="home-slider">
  	<div id="slider" class="sl-slider-wrapper">
			<div class="sl-slider">
				<div class="sl-slide" data-orientation="horizontal"
					data-slice1-rotation="-25" data-slice2-rotation="-25"
					data-slice1-scale="2" data-slice2-scale="2">
						<div class="bg-img bg-img-1"></div>

						<div class="slide-caption">
              <div class="caption-content">
                <h2 class="animated fadeInDown">Rodrigo Delgado</h2>
                <span class="animated fadeInDown">Web Developer</span>
                <a href="#contact" class="btn btn-blue btn-effect">Contact Me</a>
              </div>
            </div>
					</div>

					<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10"
						data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">

						<div class="bg-img bg-img-2"></div>
						<div class="slide-caption">
              <div class="caption-content">
	              <h2>Front End</h2>
	              <span>React &amp; Angular</span>
	              <a href="#contact" class="btn btn-blue btn-effect">Contact Me</a>
          		</div>
      			</div>
					</div>

					<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3"
						data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">

					<div class="bg-img bg-img-3"></div>
						<div class="slide-caption">
              <div class="caption-content">
                  <h2>Back End</h2>
                  <span>Node JS</span>
                  <a href="#contact" class="btn btn-blue btn-effect">Contact Me</a>
              </div>
          </div>

					</div>
				</div><!-- /sl-slider -->
        	<nav id="nav-arrows" class="nav-arrows hidden-xs hidden-sm visible-md visible-lg">
            <a href="javascript:;" class="sl-prev">
              <i class="fa fa-angle-left fa-3x"></i>
            </a>
            <a href="javascript:;" class="sl-next">
              <i class="fa fa-angle-right fa-3x"></i>
            </a>
          </nav>

					<nav id="nav-dots" class="nav-dots visible-xs visible-sm hidden-md hidden-lg">
						<span class="nav-dot-current"></span>
						<span></span>
						<span></span>
					</nav>

		</div><!-- /slider-wrapper -->
	</section>

        <!--
        End Home SliderEnd
        ==================================== -->

			<!-- about section -->
	<section id="about" >
		<div class="container">
			<div class="row">
				<div class="col-md-4 wow animated fadeInLeft">
					<div class="recent-works"><br />
						<h3>Experience</h3>
						<div id="works">
							<div class="work-item">

								<p>
									I am a Web Developer who has recently transitioned from
									a background in hospitality management. <br><br>
									I graduated as a Web Developer from EDA Enspiral
									Dev-Academy where I learnt technologies such as HTML5, CSS3, SQL,
									JavaScript, React.js, Node.js, Git and GitHub.
								</p>

							</div>
							<div class="work-item">
								<p>
									People who I have worked with will describe me as a team player
									who is absolutely reliable and fun to work with.
									They would also say that I work hard and learn fast.<br><br>
									I thrive working under pressure, specially with other people
									and being creative by coming up with new ideas and approaches.
									Able to speak Spanish (mother tongue) and English.
								</p>
							</div>

							<div class="work-item">
                <p>
									During my spare time I try to keep fit, playing music and explore my passion for
									new technologies. I also love cooking for friends and family. I have a keen interest
									in photography and I have had visited, with my camera, several countries within
									Europe, South East Asia and Latin America.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-7 col-md-offset-1 wow animated fadeInRight">
					<div class="welcome-block"><br />
						<h3>About Me</h3>
				     	<div class="message-body">
								<img src="img/member-1.jpg" class="pull-left" alt="member">
				       	<p>
									I am currently looking for an entry-level web developer
									position and for an environment in which I can learn,
									develop and explore different technologies.
								</p>

                <p>
									
								</p>

				     	 </div>
				       	<a href="https://nz.linkedin.com/in/rodrigo-delgado-5bbb3655"
								class="btn btn-border btn-effect pull-right" target="_blank" >Read More</a><br />
				    </div>
				</div>
			</div>
		</div>
	</section>
		<!-- end about section -->

			<!-- Skills section -->
			<section id="service">
				<div class="container">
					<div class="row">

						<div class="sec-title text-center"><br />
							<h2 class="wow animated bounceInLeft">Development</h2>
							<p class="wow animated bounceInRight">Skills</p>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn">
							<div class="service-item">
								<div class="service-icon">
									<i class="fa fa-html5 fa-3x"></i>
								</div>
								<h3>HTML5</h3>
								<p>Hypertext Markup Language</p>
							</div>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
							<div class="service-item">
								<div class="service-icon">
									<i class="fa fa-css3 fa-3x"></i>
								</div>
								<h3>CSS3</h3>
								<p>Cascading Style Sheets</p>
							</div>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s">
							<div class="service-item">
								<div class="service-icon">
									<i class="fa fa-heart fa-3x"></i>
								</div>
								<h3>JavaScript</h3>
								<p>Programming Language JavaScript &amp; Node.js</p>
							</div>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.9s">
							<div class="service-item">
								<div class="service-icon">
									<i class="fa fa-github fa-3x"></i>
								</div>

								<h3>Git and Github</h3>
								<p>Version Control System</p>
							</div>
						</div>

					</div>
				</div>
			</section>
			<!-- end Service section -->

			<!-- SOME OF THE PLACES I'VE BEEN PHOTOGRAPHY. -->
			<section id="portfolio">
				<div class="container">
					<div class="row">

						<div class="sec-title text-center wow animated fadeInDown"><br />
							<h2>Some Of The Places I've Been</h2>
							<p>Some of my favourites places on the planet.</p>
						</div>


						<ul class="project-wrapper wow animated fadeInUp">
							<li class="portfolio-item">
								<img src="img/portfolio/sydney.jpg" class="img-responsive"
									alt="The Sydney Opera House is a multi-venue performing arts
									centre in Sydney, Australia. It is one of the 20th century's
									most famous and distinctive buildings.">

								<figcaption class="mask">
									<h3>Sydney - Australia</h3>
									<p>Opera House</p>
								</figcaption>

								<ul class="external">
									<li><a class="fancybox" title="Opera House - Sydney"
										data-fancybox-group="works" href="img/portfolio/sydney.jpg">
										<i class="fa fa-search"></i></a></li>
									<!-- <li><a href=""><i class="fa fa-link"></i></a></li> -->
								</ul>
							</li>

							<li class="portfolio-item">

								<img src="img/portfolio/Singapure.jpg" class="img-responsive"
									alt="Marina Bay is a bay located in the Central Area of Singapore
									surrounded by the perimeter of four other planning areas,
									the Downtown Core, Marina East, Marina South and Straits View.
									The area surrounding the bay itself, also called Marina Bay,
									is a 360 hectare extension to the adjacent Central Business
									District.">

								<figcaption class="mask">
									<h3>Singapore</h3>
									<p>Marina Bay</p>
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="Marina Bay - Singapore"
										href="img/portfolio/Singapure.jpg" data-fancybox-group="works" >
										<i class="fa fa-search"></i></a></li>
									<!-- <li><a href=""><i class="fa fa-link"></i></a></li> -->
								</ul>
							</li>

							<li class="portfolio-item">
								<img src="img/portfolio/amsterdam.jpg" class="img-responsive" alt="From December until the end of January Amsterdam lights up for the annual Amsterdam Light Festival. Over 35 artworks from international artists, designers and architects find their way to the city of Amsterdam. The artworks are located alongside two different exhibition routes; Water Colors, the boat route and Illuminade the walking route.">
								<figcaption class="mask">
									<h3>Amsterdam - Holland</h3>
									<p>Amsterdam Light Festival </p>
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="Winter Light Festival - Amsterdam" data-fancybox-group="works" href="img/portfolio/amsterdam.jpg"><i class="fa fa-search"></i></a></li>
									<!-- <li><a href=""><i class="fa fa-link"></i></a></li> -->
								</ul>
							</li>

							<li class="portfolio-item">

								<img src="img/portfolio/penang2.jpg" class="img-responsive"
									alt="George Town, the capital city of the Malaysian state of Penang,
									is situated at the north-eastern tip of Penang Island. Its urban
									population is estimated at 708,000, while the Greater Penang conurbation
									has a population of 2.5 million, making George Town and Greater Penang the
									second largest city and the second most populated metropolitan area in
									Malaysia respectively. One of the oldest cities in Malaysia, George
									Town was inscribed as a UNESCO World Heritage Site along with Malacca City in 2008.">

								<figcaption class="mask">
									<h3>Penang - Malasya</h3>
									<p>George Town</p>
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="George Town" data-fancybox-group="works" href="img/portfolio/penang2.jpg"><i class="fa fa-search"></i></a></li>
									<!-- <li><a href=""><i class="fa fa-link"></i></a></li> -->
								</ul>
							</li>

							<li class="portfolio-item">
								<img src="img/portfolio/mexico.jpg" class="img-responsive" alt="Commissioned by President Porfirio Diaz to replace the previous National Theater that was demolished in 1901, Italian architect Adamo Boari began the project in 1904. The original plan was to finish the construction in time to celebrate the centenary of Mexican Independence in 1910, however work on the building was stalled initially due to construction issues and then the outbreak of the Mexican Revolution. At the end of the Revolution, Mexican architect, Francisco Mariscal, continued the project, and the landmark was finally inaugurated in 1934. ">
								<figcaption class="mask">
									<h3>Mexico City - Mexico</h3>
									<p>Palacio De Bellas Artes </p>
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="Palacio De Bellas Artes" data-fancybox-group="works" href="img/portfolio/mexico.jpg"><i class="fa fa-search"></i></a></li>
									<!-- <li><a href=""><i class="fa fa-link"></i></a></li> -->
								</ul>
							</li>

							<li class="portfolio-item">
								<img src="img/portfolio/london.jpg" class="img-responsive" alt="Buckingham Palace is the London residence and administrative headquarters of the reigning monarch of the United Kingdom. Located in the City of Westminster, the palace is often at the centre of state occasions and royal hospitality. It has been a focal point for the British people at times of national rejoicing and mourning. ">
								<figcaption class="mask">
									<h3>London - England</h3>
									<p>Buckingham Palace</p>
								</figcaption>
								<ul class="external">
									<li><a class="fancybox" title="Buckingham Palace" data-fancybox-group="works" href="img/portfolio/london.jpg"><i class="fa fa-search"></i></a></li>
									<!-- <li><a href=""><i class="fa fa-link"></i></a></li> -->
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</section>
			<!-- end portfolio section -->

			<!-- Testimonial section -->
			<section id="testimonials" class="parallax">
				<div class="overlay">
					<div class="container">
						<div class="row">

							<div class="sec-title text-center white wow animated fadeInDown">
								<h2>What people say about me</h2>
							</div>

							<div id="testimonial" class=" wow animated fadeInUp">
								<div class="testimonial-item text-center">
									<img src="img/LisaBrand.jpg" alt="References">
									<div class="clearfix">
										<span>Lisa Brand - Head Of Hall - Katharine Jermyn Hall</span>
										<p>I have known Rodrigo Delgado since we worked together at Nomads Capital/Blend bar in 2013.</p>
                    <p>He left to travel the world and since returning back to New Zealand. I have again worked with Rodrigo at Katharine Jermyn Hall.</p>
                    <p><i class="fa fa-phone"></i> 04-463 9080</p>
                    <p><i class="fa fa-envelope"></i> Lisa.Brand@vuw.ac.nz</p>
									</div>
								</div>
								<div class="testimonial-item text-center">
									<img src="img/GregKotze.jpg" alt="References">
									<div class="clearfix">
										<span>Greg Kotze - Head Chef - Compass Group</span>
										<p></p>
                    <p><p><i class="fa fa-phone"></i> 021 233 7054</p>
                    <p><i class="fa fa-envelope"></i> Katharinejermynhall@site.compass-group.co.nz </p>
									</div>
								</div>
								<div class="testimonial-item text-center">
									<img src="img/CassieBlount.jpg" alt="References">
									<div class="clearfix">
										<span>Cassie Blount - General Manager - The Black Swan</span>
										<p>A few years ago I had the pleasure of viewing Rodrigo professional development, and I can state with confidence that he is a motivated and responsible person with a high degree of integrity. I expect that he will be a very positive addition to your company.</p>
                    <!-- <p><p><i class="fa fa-phone"></i></p> -->
                    <p><i class="fa fa-envelope"></i> Cassie_blount@hotmail.co.uk</p>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</section>
			<!-- end Testimonial section -->

			<!-- Price section -->

			<!-- end Price section -->

			<!-- Social section -->
			<section id="social" class="parallax">
				<div class="overlay">
					<div class="container">
						<div class="row">

							<div class="sec-title text-center white wow animated fadeInDown">
								<h2>Follow Me</h2>
								<p></p>
							</div>

							<ul class="social-button">
								<li class="wow animated zoomIn"><a href="https://nz.linkedin.com/in/rodrigo-delgado-5bbb3655"><i class="fa fa-linkedin fa-2x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="https://twitter.com/RoddDelgado"><i class="fa fa-twitter fa-2x"></i></a></li>
								<li class="wow animated zoomIn" data-wow-delay="0.6s"><a href="https://github.com/rodrigo-delgado"><i class="fa fa-github  fa-2x"></i></a></li>

							</ul>

						</div>
					</div>
				</div>
			</section>
			<!-- end Social section -->

			<!-- Contact section -->
			<section id="contact" >
				<div class="container">
					<div class="row">

						<div class="sec-title text-center wow animated fadeInDown">
							<!-- <h2>Contact</h2>
							<p>Leave a Message</p> -->
						</div>


						<div class="col-md-1 contact-form wow animated fadeInLeft">
							<!-- <form action="#" method="post">
								<div class="input-field">
									<input type="text" name="name" class="form-control" placeholder="Your Name...">
								</div>
								<div class="input-field">
									<input type="email" name="email" class="form-control" placeholder="Your Email...">
								</div>
								<div class="input-field">
									<input type="text" name="subject" class="form-control" placeholder="Subject...">
								</div>
								<div class="input-field">
									<textarea name="message" class="form-control" placeholder="Messages..."></textarea>
								</div>
						       	<button type="submit" id="submit" class="btn btn-blue btn-effect">Send</button>
							</form> -->
						</div>

						<div class="col-md-5 wow animated fadeInRight">
							<address class="contact-details">
								<h3>Contact Me</h3>
								<p><i class="fa fa-pencil"></i> Rodrigo Delgado<span></span> <span>Fallowfield Avenue, Wellington. </span><span>New Zealand</span></p><br>
								<p><i class="fa fa-phone"></i> 027 420 5866 </p>
								<p><i class="fa fa-envelope"></i> Rod.delgado85@gmail.com</p>
							</address>
						</div>

					</div>
				</div>
			</section>
			<!-- end Contact section -->

			<section id="google-map"><br />
				<div id="map-canvas" class="wow animated fadeInUp"></div>
			</section>

		</main>
